figure.image-container > img {
    height: 200px;
    width: 100px;
    border: 1px solid black;
    /* object-fit: contain; */
}

/* section.pic-container {
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
} */

section.pic-container > figure {
    width: 100%;
    aspect-ratio: 3/2;
    border: 1px solid black;
    /* background-color: brown; */
}

section.pic-container > figure > img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}