section {
  table.simple-table {
    border: 1px solid black;
    /* table-layout: fixed; */
    border-collapse: collapse;
    font-size: 14px;
    max-width: 1000px;
    width: 100%;

     td:nth-child(5), th:nth-child(5) {
          text-align: right;
    }

    & > caption {
      background-color: red;
      color: white;
      font-weight: 700;
      padding: 5px 10px;
    }

 

    thead {
      tr {
        th {
          background-color: lightblue;
          border-bottom: 1px solid red;
          padding: 6px 8px;
          text-align: left;
        }
    
      }
    }

    tbody {
      tr {
        td {
          border-top: 1px solid silver;
          padding: 6px 8px;
        }

      
      }

      tr:nth-child(3),
      tr:nth-child(1) {
        background-color: pink;
        color: blue;
      }

      tr:nth-child(odd) {
        background-color: rgb(238, 199, 197);
      }
    }

    tfoot {
      tr {
        td {
          border-top: 1px solid gray;
          padding: 4px 8px;
        }
   
      }
    }
  }
}

section.nth-table {

    border: 1px solid black;
    /* table-layout: fixed; */
    border-collapse: collapse;
    font-size: 14px;
    max-width: 1000px;
    width: 100%;



    & > caption {
      background-color: red;
      color: white;
      font-weight: 700;
      padding: 5px 10px;
    }

 

    thead {
      tr {
        th {
          background-color: lightblue;
          border-bottom: 1px solid red;
          padding: 6px 8px;
          text-align: left;
        }
    
      }
    }
}