h4.welcome-text {
    color: green;
}

h4.welcome-text {
    color: blueviolet;
}

h4.welcome-text {
    color: red;
}


/* =================== Specificity by selector type =============== */
main > section > .test-class {
    color: lime;
}

#test-id {
    color: orange;
}

.test-class {
    color: blue;
}

h2 {
    color: green;
}

