section.plain {
    height: 100px;
    width: 100px;
    background-color: brown;
}

<<<<<<< HEAD
section.bg-img {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(116, 27, 27);
    background-image: url(./fish.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px 10px ;

}

section.gradient {
    width: 450px;
    height: 250px;
    background-image: linear-gradient( 
    blue, 
    indigo, 
    yellow, 
    red,
    cyan,
    orange, 
    gray,
    orangered,
    pink, 
    green, 
    lime);
    border: 1px solid black;
    background-size:  10% 10%;
}

section.radial-gradient {
    background-image: radial-gradient(
    cyan, 
    blue,
    green,
    pink, 
    yellow,
    orange,
    red
    );
    width: 450px;
    height: 450px;
    border: 1px solid black;
    background-size: 50% 50%;
}

section.multi-bg {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-image: url(./image.jpg), url(./fish.jpg);
=======
/* Background image is performed using the background-image property */
section.bg-img {
    height: 200px;
    width: 200px;
    background-size: contain; /* has possible values of auto, contain and cover */
    border: 1px solid black;
    background-image: url(./flying-fish.jpeg);
    background-repeat: no-repeat;
    background-position: 10px 10px; /* has possible values of top, bottom, left, right and center */
}

/* Gradient background */
section.linear-gradient {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-image: linear-gradient(
        135deg, 
        blue 40%, 
        indigo, 
        red,
        orangered,
        orange,
        yellow,
        yellowgreen, lime, green
    );
}
/* Radial gradient background */
section.radial-gradient {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-image: radial-gradient(
        cyan,
        blue,
        indigo,
        red
    );
    background-size: 10% 10%;
}


/* Multiple Backgroud Images */
section.multi-bg {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-image: url(./flying-fish.jpeg), url(./ship.jpg);
>>>>>>> hycient/main
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
}

<<<<<<< HEAD
section.bg-short-hand {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: url(./image.jpg) no-repeat  10px 10px / contain;
=======
/* Background Shorthand syntax */
section.bg-short-hand {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background: url(./flying-fish.jpeg) no-repeat 10px 10px / contain;
>>>>>>> hycient/main
}