section.plain {
    height: 100px;
    width: 100px;
    background-color: brown;
}

section.bg-img {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(116, 27, 27);
    background-image: url(./fish.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px 10px ;

}

section.gradient {
    width: 450px;
    height: 250px;
    background-image: linear-gradient( 
    blue, 
    indigo, 
    yellow, 
    red,
    cyan,
    orange, 
    gray,
    orangered,
    pink, 
    green, 
    lime);
    border: 1px solid black;
    background-size:  10% 10%;
}

section.radial-gradient {
    background-image: radial-gradient(
    cyan, 
    blue,
    green,
    pink, 
    yellow,
    orange,
    red
    );
    width: 450px;
    height: 450px;
    border: 1px solid black;
    background-size: 50% 50%;
}

section.multi-bg {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-image: url(./image.jpg), url(./fish.jpg);
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
}

section.bg-short-hand {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: url(./image.jpg) no-repeat  10px 10px / contain;
}