section.simple-table {
  table {
    color: rgb(229, 198, 238);
    border-collapse: collapse;
    font-size: 10px;
    max-width: 800px;
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: auto;
    margin-block-end: auto;

    margin: auto;
    background-image: linear-gradient(
      90deg,
      rgba(43, 43, 224, 0.932) 40%,
      #9c41c0
    );

    thead {
      background-image: linear-gradient(
        80deg,
        rgba(93, 93, 218, 0.932) 40%,
        #bf67e2
      );
      tr {
        th {
          font-size: 10px;
          text-transform: uppercase;
          padding: 1rem;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 15px;
        }

        td:nth-child(4) {
          background-color: rgba(126, 93, 218, 0.932);
        }
      }
    }
  }
}

tr:hover {
  background-image: linear-gradient(90deg, rgba(93, 93, 218, 0.932), #bf67e2);
}

td:hover {
  background-image: linear-gradient(90deg, rgba(180, 114, 224, 0.932));
}

body {
    margin-top: 70px;
}