body {
  background-color: #09152b;
  margin-top: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
}
section.simple-table {
  table {
    color: silver;
    border-collapse: collapse;
    font-size: 10px;
    width: 100%;
    max-width: 1500px;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #1b2a42;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: auto;
    margin-block-end: auto;

    thead {
      tr {
        th {
          border-bottom: 1px solid rgba(123, 123, 123, 0.427);
          padding: 16px 8px;
          text-align: left;
          font-size: 15px;
          font-weight: 400;
        }
      }
      .create-btn {
        background-color: rgb(231, 230, 230);
        color: rgb(8, 8, 39);
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: rgb(224, 217, 217);
        }
      }
      .search-box {
        display: flex;
        gap: 10px;
        width: 70%;
        padding: 7px 10px;
        border-radius: 10px;
        background-color: #09152b;
        border: 1px solid rgba(255, 255, 255, 0.08);

        span {
          color: #7f8aa3;
          font-size: 20px;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          color: white;
          font-size: 14px;

          &::placeholder {
            color: #7f8aa3;
          }
        }
      }
      .search-actions {
        display: flex;
        gap: 10px;
        padding: 16px 8px;
      }
    }
    .head-tr {
      background-color: #29375b90;
      border-top: 1px solid rgba(123, 123, 123, 0.178);
    }

    .search-tr {
      border-top: 1px solid rgba(123, 123, 123, 0.178);
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.03);
      }

      td {
        border-bottom: 1px solid rgba(123, 123, 123, 0.178);
        color: #9aaed5ad;
        font-size: 12px;
        padding: 16px 8px;
      }

      td:nth-child(1) {
        color: white;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  tfoot {
    tr {
      border-top: 1px solid rgba(123, 123, 123, 0.178);
      td {
        padding: 16px 8px;
      }
    }
  }
}
.action-btn {
  background-color: #2d3b56;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  cursor: pointer;
  color: #dbe4f0;
  padding: 8px;
  width: 35px;
  height: 35px;

  &:hover {
    background-color: #1a2744;
  }

  span {
    font-size: 15px;
  }
}

.prev-btn,
.next-btn {
  background-color: #334264;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  /* margin: 8px 14px; */

  &:hover {
    background-color: #1a2744;
  }
  span {
    font-size: 15px;
  }
}
