section.plain {
    height: 100px;
    width: 100px;
    background-color: brown;
}

/* Background image is performed using the background-image property */
section.bg-img {
    height: 200px;
    width: 200px;
    background-size: cover; /* has possible values of auto, contain and cover */
    border: 1px solid black;
    background-image: url(./Flying-fish.png);
    background-repeat: no-repeat;
    background-position: 10px 10px; /* has possible values of top, bottom, left, right and center */
}

/* Gradient background */
section.linear-gradient {
    height: 300px;
    width: 250px;
    border: 1px solid rgb(51, 9, 9);
    background-image: linear-gradient(60deg, 
        rgb(33, 33, 77) 40%, 
        indigo 50%, 
        red,
        orangered,
        orange,
        yellow,
        yellowgreen, lime, green;
        border: 1px solid rgb(88, 17, 17);
    );   
}
/* Radial gradient background */
section.radial-gradient {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-image: radial-gradient(
        cyan,
        blue,
        indigo,
        red
    );
    background-size: 10% 10%;
}


/* Multiple Backgroud Images */
section.multi-bg {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-image: url(./Flying-fish.png), url(./piano.png);
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
}

/* Background Shorthand syntax */
section.bg-short-hand {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background: url(./Flying-fish.png) no-repeat 10px 10px / contain;
}