section ul.unordered-style-type {
    list-style-type: circle;

}

section ol.ordered-style-type {
    list-style-type: upper-latin;

}

/* ============List style position========== */

section ul.unordered-style-position {
    border: 1px solid black;
    list-style-position: outside;
    background-color: brown;
    margin-left: 20px;
    padding: 0;
    list-style-position: outside;
}

/* ============List style Image========== */

section ul.unordered-style-image {
    list-style-image: url("./pepper.jpg");
}

/* ============Background image========== */

section ul.list-background-image {
    list-style-type: none;
    padding: 0;
    background-color: brown;
}

section ul.list-background-image > li {
    background-image: url("./pepper.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin: 2px 0;
    background-color: rgb(129, 151, 107);
}
