<<<<<<< HEAD
section ul.unordered-style-type {
    list-style-type: circle;

=======
/* ========= List Style Type ========= */

section ul.unordered-style-type {
    list-style-type: circle;
>>>>>>> cca7d8c48c4e301321fc7ac6902599849818a42b
}

section ol.ordered-style-type {
    list-style-type: upper-latin;
<<<<<<< HEAD

}

/* ============List style position========== */

section ul.unordered-style-position {
    border: 1px solid black;
    list-style-position: outside;
    background-color: brown;
    margin-left: 20px;
    padding: 0;
    list-style-position: outside;
}

/* ============List style Image========== */

section ul.unordered-style-image {
    list-style-image: url("./pepper.jpg");
}

/* ============Background image========== */

section ul.list-background-image {
    list-style-type: none;
    padding: 0;
    background-color: brown;
}

section ul.list-background-image > li {
    background-image: url("./pepper.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin: 2px 0;
    background-color: rgb(129, 151, 107);
}
=======
}

/* ========= List Style Position ========= */
section ul.unordered-style-position {
    border: 1px solid black;
    margin-left: 20px;
    padding: 0;
    list-style-position: outside; /* Prescribes where the numerical or bullet points like inside our ouside of the list item */
    background-color: red;
}

/* ========= List Style Image ========= */
section ul.unordered-style-image {
    list-style-image: url("./small-pepper.png");
}

/* ========= Background Image ========= */
section ul.list-background-image {
    list-style-type: none;
    padding-left: 0;
    /* background-image: url("./small-pepper.png"); */
    /* background-repeat: no-repeat; */
    background-color: rgba(255, 0, 0, 0.5);
}

section ul.list-background-image > li {
    background-image: url("./small-pepper.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgba(0, 255, 0, 0.5);
    margin: 3px 0;
    padding-left: 20px;
}
>>>>>>> cca7d8c48c4e301321fc7ac6902599849818a42b
