
/* Box and Sizing example */
div[class*="box"] {
    border: 5px outset black;
    height: 100px;
    width: 200px;
    box-sizing: border-box;
}

div.box-1 {
    margin: 50px;
}

div.box-2 {
    padding: 15px;
}

div.box-3 {
    outline: 2px solid red;
}

/* ================================== */
/* Display Types */

div.display > div.cube {
    width: 40px;
    height: 40px;
    border: 1px solid brown;
    display: inline-block;
}

section > div.block-anchor > a {
    color: red;
    display: block;
}

p.disappear {
    display: none;
}

/* =============================== */
section div.margin-square {
    border: 1px solid gray;
}

section div.margin-square > div {
    border: 1px solid gray;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
}

section div.margin-shorthand {
    border: 1px solid gray;
}

/* ============== Margin Shorthand ================== */

section div.margin-shorthand > div {
    border: 1px solid gray;
    margin: 5px 10px 40px 20px;
}

/* ============== Negative Margin ================== */
section div.margin-negative > div{
    border: 1px solid gray;
    height: 70px;
    width: 100px;
}

section div.margin-negative > div.two {
    margin-top: -20px;
    margin-left: -50px;
    width: 140px;
    background-color: rgba(255, 0, 0, 0.5);
}

section div.margin-negative > div.one {
    background-color: rgba(0, 255,0,0.6)
}


/* ======= Borders ========== */
section div.border > div.one{
    border-width: 2px;
    border-style: dashed;
    border-color: peru;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-top: 2px solid indigo;
    border-right: 2px solid indigo;

    height: 100px;
    width: 100px;
}