#px-abs-unit {
  width: 100px;
  height: 150px;
  background-color: blueviolet;
}

#cm-abs-unit {
  width: 6cm;
  height: 4cm;
  background-color: pink;
}

/* relative units */

#percent-container {
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

#percent-rel-unit {
  width: 60%;
  height: 50%;
  background-color: green;
}

#percent-remainder-rel-unit {
  width: 40%;
  height: 50%;
  background-color: red;
}

#vh-rel-unit {
  background-color: orange;
  height: 50vh;
}

#vw-rel-unit {
  background-color: lightblue;
  width: 50vw;
}
